<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of itens; let i = index">
      <ion-thumbnail slot="start">
        <img [src]="item.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.title }}</h2>
        <p>{{ item.price | currency: 'BRL' }}</p>
      </ion-label>
      <ion-button color="danger" (click)="remover(i)">Remover</ion-button>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-title >Total: {{ getTotal() | currency: 'BRL' }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
