<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row style="justify-content: center;">
        <ion-col size="auto" [routerLink]="['/home']" class="center-btn">Inicio</ion-col>
        <ion-col size="auto" [routerLink]="['/lista']" class="center-btn">Lista</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-list>
   <ion-item class="produtos-card" *ngFor="let produto of produtos">                                        <!--ngfor pra importar repetidamente os produtos em itens -->
    <ion-thumbnail slot="start">
      <img [src]="produto.image" alt="{{ produto.title }}">
    </ion-thumbnail>
    <ion-label>
      <h2 class="product-title">{{ produto.title  }} </h2> 
      <h2 class="product-price">{{ produto.price |currency: 'BRL'}}</h2>        <!--Pipes Built-in para formatar o valor do produto em Reais -->
      <p *ngIf="produto.price > 100" [style.color]="'alerta' | mudarcor ">Esse produto custa mais do que 100$ reais </p>   <!-- ngIf que deixa uma mensagem quando o preço dele for maior que 100$ -->
      <p class="product-description" >{{ produto.description }}</p>              <!-- fazer uma Pipe personalizada para alterar a cor do texto de alerta do ngIF -->
    </ion-label>
        <ion-button slot="end" appClicksnegar (MultiClick)="adicionarAoCarrinho(produto)">Adicionar</ion-button>

  </ion-item>
</ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button [routerLink]="['/carrinho']" color="primary" aria-label="Carrinho">
    <ion-icon name="cart">  </ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
